body{
    background-image: url(assets/masthead@2x.jpg);
    background-size: 100vw;
}
main{
    width: 1200px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px white solid;
}
img , nav {
    display: block;
}
.columns{
    display: flex;
    justify-content: center;
}
.col{
    display: block;
    width: 300px;
    margin-left: 30px;
}